<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <style>
    body {
      background-color: #212529;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 90vh;
    }

    .login-form {
      background-color: #343a40;
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      width: 400px;
    }

    .login-form h1 {
      color: #fff;
      text-align: center;
      margin-bottom: 30px;
    }

    .form-label {
      color: #fff;
    }

    .form-control {
      background-color: #495057;
      color: #fff;
      border: 1px solid #495057;
    }

    .form-control:focus {
      background-color: #495057;
      color: #fff;
      border: 1px solid #ced4da;
    }

    .btn-primary {
      background-color: #007bff;
      border: 1px solid #007bff;
      width: 100%;
      margin-top: 15px;
    }

    .btn-primary:hover {
      background-color: #0056b3;
      border: 1px solid #0056b3;
    }

    .btn-secondary {
      background-color: #6c757d;
      border: 1px solid #6c757d;
      width: 100%;
      margin-top: 10px;
    }

    .btn-secondary:hover {
      background-color: #545b62;
      border: 1px solid #545b62;
    }

    .forgot-password-link {
      display: block;
      margin-top: 10px;
      color: #fff;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="col-md-6">
      <div class="login-form">
        <h1>Sign in!</h1>
        <form>
          <div class="mb-4">
            <label class="form-label">Usuario</label>
            <input type="text" class="form-control" id="email">
          </div>
          <div class="mb-4">
            <label class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password">
          </div>
          <a class="forgot-password-link" href="/forgot-password">Olvidé mi Contraseña</a>
          <button type="button" class="btn btn-primary" id="btnLogIn">Sign in</button>
          <button type="button" class="btn btn-primary" id="btnRegister">Sign up</button>
          <button type="button" class="btn btn-secondary">
            <a href="/githubcallback" class="text-decoration-none text-white">
              <i class="fab fa-github"></i> Sign In with GitHub
            </a>
          </button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>


<script src="login/login.js"></script>
<script>
  document.getElementById("btnRegister").addEventListener("click", function () {
    window.location.href = "/register";
  });
</script>