<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <h1 class="text-white text-center ">GRACIAS POR TU COMPRA!</h1>
    <p>Se envio un correo para que puedas seguir tu compra!</p>
    <a href="/products">Volver a comprar</a>
</div>